doctype html
html(lang="en")
  style{
    h1{
      color: red;
    }
  }
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title notfound
  body 
    h1 Không có đường dẫn trên, Lỗi 404 notfound